body
{
  font-family: Arial, Helvetica, sans-serif;
}

.text
{
  background-color: #20BBEF;
  padding:10px;
}

#textvak
{
  background-color: white;
  display: block;
  margin: auto;
  margin-top: 2.5vw;
}

#likeDislikeWrapper
{
  text-align: center;
}

#likeDislike
{
  display: inline-block;
  padding-top: 40px;
}

img
{
  max-width: 100%;
}

p
{
  display:block;
  color: gray;
  line-height: 1.7;
  font-weight: 100;
  font-size: 1em;
  max-width: 800px;
}

pre
{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
  display:block;
  color: gray;
  line-height: 1.7;
  font-weight: 100;
  font-size: 1em;
  max-width: 800px;
}

#logo
{
  display: block;
  margin-top: 50px;
}

#frontImage
{
  width: 60vw;
  display: block;
  margin: 50px auto 0;
}

#logoText
{
  display: block;
  float: left;
  width: 50px;
  margin: 5px;
}

#titel
{
  display: block;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
  margin-bottom: 1em;
  color: #20BBEF;
}

#verhaal
{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

#startknop
{
  border: 1px solid gray;
  border-radius: 10px;
  width: 30vw;
  background-color: white;
  position: absolute;
  bottom: 50px;
  left: 35vw;
}

.likeText
{
  color: #fff;
  text-align: center;
  padding: 1em;

}

.terug_knop_wrapper
{
  text-align: center;
}

.terug_knop
{
  text-decoration: none;
  padding: 15px 25px;
  font-weight: bold;
  color: #fff;
  background-color:#ff7b00;
}

h2
{
  margin: 5px;
  text-align: center;
  font-weight: 100;
}

h3
{
  margin-top: 50px;
  font-size: 15px;
  text-align: center;
  color: gray;
  font-weight: 100;
}

#startbalk
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  margin-top: 20px;
  height: 70px;
  background-color: #20BBEF;
}

.hidden
{
  display: none;
}

.alert
{
  max-width: 20em;
  text-align: center;
  display:block;
  margin: auto;
  margin-bottom: 2em;
  background-color: #ff9e9e;
  color: red;
}

.alert_succes
{
  background-color: #9effa2;
  color: green;
}

.alert_text
{
  padding: 1em;
  display: block;
}

.alert_button_wrapper
{
  text-align: center;
}

.alert_button
{
  font-weight: bold;
  color: #fff;
  background-color: red;
  border: none;
  width: 50px;
  height: 30px;
  margin-bottom: 1em;
}

.alert_button_succes
{
  background-color: green;
}

.alert_button:hover
{
  cursor: pointer;
}

.likeDislikeImage
{
  width: 100px;
  cursor: pointer;
}

.likeDislikeButtons
{
  background-color: transparent;
  border: none;
  margin:10px;
}

.likeDislikeForm
{
  display: inline-block;
}


/* ------dashboard------ */



.content
{
  padding: 1.5em;
  background-color: #fff;
}

select
{
  padding-left: 3em;
  padding-right: 2.5em;
  height: 3em;
  font-size: 1em;
  display: block;
  margin: auto;
  border: none;
  color: #000;
  background-color: lightgrey;
  margin-top: 1em;
  margin-bottom: 2em;
}

.text_input
{
  max-width: 99%;
  height: 15em;
  display: block;
  margin-bottom: 20px;
  resize: none;
}

.text_input_button
{
  color: #fff;
  font-weight: bold;
  background-color: #ff7b00;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.dashboard_upload_wrapper
{
  text-align: right;
}

label
{
  display:block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

input
{
  margin-bottom: 2em;
}

.dashboard_pagina
{
  color: #20BBEF;
}

.dashboard_overzicht
{
  max-width: 33em;
}

.dashboard_overzicht_balk_extern
{
  margin-top: 2em;
  max-width: 20em;
  background-color: lightgrey;
  height: 2em;
  margin: 0;
}

.dashboard_overzicht_balk_intern
{
  width: 0%;
  height: 100%;
  background-color: #ff7b00;
}

.dashboard_overzicht_balk_span
{
  position: relative;
  bottom: 1.5em;
  text-align: center;
  display: block;
}

.dashboard_likes_clear
{
  background-color: #ff7b00;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 0.7em;
  margin-left: 3em;
}

.dashboard_likes_clear:hover
{
  cursor: pointer;
}

.balk_titel
{
  color: #20BBEF;
  text-align: left;
  display: block;
  font-weight: bold;
}

.float_right
{
  float: right;
  width: 40%;
}

.float_left
{
  float: left;
  width: 60%;
}

.dashboard_balk_wrapper
{
  width: 100%;
  height: 2em;
  margin-bottom: 1em;
}

.submit_confirm_box_background
{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.6;
  z-index: 5;
}

.submit_confirm_box
{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  height: 200px;
  width: 300px;
  background-color: #fff;
  z-index: 10;
}

.confirm_box_button_wrapper
{
  text-align: center;
  position: relative;
  bottom: 0;
}

#submit_confirm_text
{
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  height: 100px;
}

.confirm_box_button
{
  background-color:#ff7b00;
  color: #fff;
  width: 5em;
  height: 3em;
  border: none;
  font-weight: bold;
  font-size: 1em;
  margin-right: 20px;
  margin-left: 20px;
}

.confirm_box_button:hover
{
  cursor:pointer;
}

small
{
  font-size: 0.7em;
}

@media(max-width: 500px)
{
  .dashboard_likes_clear
  {
    margin-left: 2em;
  }
}
